.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3
dump.rdb

venv
celerybeat-schedule
.env
prod_settings.py
local_settings.py
*/cache_file/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py
**/node_modules/**
# Translations
*.mo

__pycache__/
**/__pycache__/**
*.py[cod]
.pyc
*.pyc

media/*
!*media

**/logs/**
!**/logs

**/cmaps/**

build
doc
home.rst
make.bat
Makefile

doc-dev

**/Logging/
**/dev_templates/

static/admin
static/ckeditor
static/debug_toolbar
static/fontawesomefree
static/rest_framework
static/mptt
static/css/core.min.css
static/css/responsive.min.css
