{% load i18n %}
<footer class="footer">
    <div class="footer__info">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 col-md-12">
                    <h3 class="footer-title">
                        {% trans 'Кыргызский международный универсальный колледж' %}
                    </h3>
                    <p class="footer-desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur cupiditate
                        error
                        praesentium quis ratione similique. Aliquam, deleniti, sint? Dolore!
                    </p>
                    <h3 class="footer-title">{% trans 'Наши социальные сети' %}</h3>
                    <div class="footer__social">
                        <a href="https://www.instagram.com/kilc_university/?igshid=YmMyMTA2M2Y%3D" target="_blank"
                           class="footer__social-instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/kiuckg" target="_blank" class="footer__social-facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" class="footer__social-youtube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6">
                    <h3 class="footer-title">{% trans 'Быстрая меню' %}</h3>
                    <ul class="footer__fast-menu">
                        <li class="footer__fast-menu-item"><a href="#">{% trans 'О Нас' %}</a></li>
                        <li class="footer__fast-menu-item"><a href="#">{% trans 'Новости' %}</a></li>
                        <li class="footer__fast-menu-item"><a href="#">{% trans 'Наши специальности' %}</a></li>
                        <li class="footer__fast-menu-item"><a href="#">{% trans 'Наши достижении' %}</a></li>
                        <li class="footer__fast-menu-item"><a href="#">{% trans 'Сотрудничество' %}</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3 col-md-6">
                    <h3 class="footer-title">{% trans 'Контакты' %}</h3>
                    <ul class="footer__contacts">
                        <li class="footer__contacts-item">
                            <a href="tel:+996555106886" target="_blank">
                                <i class="fa fa-phone mr-2"></i>
                                +996 (555) 10-68-86
                            </a>
                        </li>
                        <li class="footer__contacts-item">
                            <a href="https://api.whatsapp.com/send/?phone=996555106886&text=Здравствуйте%21%0A%0AПишу+из+вашего+сайта+www.college.kiuc.kg.%0A%0A&type=phone_number&app_absent=0"
                               target="_blank">
                                <i class="fa fa-whatsapp mr-2"></i>
                                +996 (555) 10-68-86
                            </a>
                        </li>
                        <li class="footer__contacts-item">
                            <a href="mailto:info@college.kiuc.kg" target="_blank">
                                <i class="fa fa-envelope mr-2"></i>
                                info@college.kiuc.kg
                            </a>
                        </li>
                        <li class="footer__contacts-item">
                            <a href="https://go.2gis.com/heri6" target="_blank">
                                <i class="fa fa-map mr-2"></i>
                                {% trans 'Чуйская обл., Сокулукский р., Шопоков, ул. Машиностроительная, 25а' %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__wrapper">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__inner-copyright">
                    Copyright © 2015 - <span class="current-year">2023</span>{% trans '«КМУК» - Все права защищены.' %}
                </div>
                <div class="footer__inner-dev">
                    {% trans 'Наш институт' %}<a href="https://kiuc.kg/" target="_blank">www.kiuc.kg</a>
                </div>
            </div>
        </div>
    </div>
</footer>