{% load static %}
<script src="{% static 'libs/jquery/jquery.js' %} "></script>
<script src="{% static 'js/bootstrap.5.0.0.alpha-2-min.js' %} "></script>
<script src="{% static 'js/font-awesome.min.js' %} "></script>
<script src="{% static 'js/main.js' %} "></script>
<script src="{% static 'js/menu.js' %} "></script>
<script src="{% static 'js/imagesloaded.min.js' %} "></script>
<script src="{% static 'js/isotope.min.js' %} "></script>
<script src="{% static 'libs/new-year/script.js' %} "></script>
<script src="{% static 'libs/slick-1.8.1/slick.min.js' %} "></script>
<script src="{% static 'js/wow.min.js' %} "></script>
<script src="{% static 'js/core-slider.js' %} "></script>