.widget {
  width: 100%;
  &-title {
    background-color: $--bs-blue;
    color: $--bs-white;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: $--bs-radius-small;
    font-size: 18px;
    margin-top: 10px;
  }

  &-form-search {
    position: relative;
    & input {
      width: 100%;
      background-color: transparent;
      height: 60px;
      padding: 0 0 0 20px;
      font-size: 16px;
      font-weight: 400;
      border: 2px solid #eee;
      border-radius: $--bs-radius-small;
    }
    & button {
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      height: 100%;
      z-index: 1;
      background-color: $--bs-blue;
      font-size: 17px;
      color: #fff;
      border: none;
      border-radius: 0 $--bs-radius-small $--bs-radius-small 0;
      transition: all .3s ease-out;
      &:hover {
        background-color: $--bs-dark-blue;
      }
    }
  }
}