.documents {
  &__card {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    &-item {
      background-image: url("../images/bg/pattern.png");
      background-color: $--bs-blue;
      border-radius: $--bs-radius-small;
      height: 80px;
      & a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $--bs-white;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}