.resume_wrapper {
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  background: #fff;
  padding: 10px;
  .resume_left {
    width: 25%;
    background-color: $--bs-blue;
    overflow: hidden;
    border-radius: $--bs-radius-medium;
    .resume_image {
      width: 100%;
      img {
        width: 100%;
        display: block;
      }
    }
    .resume_name .role {
      color: #84838b;
    }
    .resume_info {
      color: #dbdade;
      .about_p {
        color: #fff !important;
        font-size: 15px;
      }
      .social {
        margin-top: 20px;
        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          margin-right: 10px;
          width: 50px;
          height: 50px;
          background-color: $--bs-white;
          border-radius: $--bs-radius-small;
          text-decoration: none;
          &:hover {
            background-color: $--bs-dark-blue;
            color: $--bs-white;
          }
        }
      }
    }
    .resume_bottom {
      padding: 20px 20px;
    }
  }
  .resume_title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .resume_item {
    padding: 20px 0;
    border-bottom: 1px solid #0175b2;
    &:last-child {
      border-bottom: 0;
    }
  }
  .resume_full_name {
    padding: 0 0 10px 0;
    .name {
      color: #fff;
    }
  }
  .resume_full_name .role {
    color: #fff;
  }
   .resume_name .name {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 4px;
    line-height: 40px;
  }
}

.resume_wrapper .resume_left .resume_contact .resume_info:last-child {
  margin-top: 10px;
}

.resume_wrapper .resume_left .resume_contact .resume_subtitle {
  color: #fff;
  margin-bottom: 2px;
}

.resume_wrapper .resume_left .resume_skills .skills_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p {
  position: relative;
  width: 125px;
  height: 20px;
  background: #fff;
}

.resume_wrapper .resume_left .resume_skills .skills_list .skills_bar p span {
  position: absolute;
  top: 0;
  left: 0;
  background: #0175b2;
  width: 100%;
  height: 100%;
}

.resume_wrapper .resume_right {
  width: 65%;
  padding: 20px 40px;
  color: #26252d;
}

.resume_wrapper .resume_right .resume_name .name {
  color: #26252d;
  font-size: 32px;
}

.resume_wrapper .resume_right .resume_name .role {
  font-size: 14px;
  text-transform: uppercase;
}

.resume_wrapper .resume_right .resume_item .resume_title {
  color: #26252d;
}

.resume_wrapper .resume_right .resume_data {
  display: flex;
}

.resume_wrapper .resume_right .resume_data .year {
  padding-right: 15px;
  width: 125px;
  position: relative;
}

.resume_wrapper .resume_right .resume_data .content {
  padding-left: 20px;
  margin-bottom: 20px;
  width: calc(100% - 115px);
}

.resume_wrapper .resume_right .resume_data .year:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #26252d;
  border-radius: 50%;
}

.resume_wrapper .resume_right .resume_data .year:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 4px;
  width: 3px;
  height: 90%;
  background: #0175b2;
}

.resume_wrapper .resume_right .resume_data:last-child .year:after {
  display: none;
}

.resume_wrapper .resume_right .resmue_language .resume_info {
  display: flex;
  justify-content: start;
  text-align: right;
}

.resume_wrapper .resume_right .resmue_language .language {
  font-size: 16px;
  color: #0175b2;
  margin-bottom: 10px;
  display: flex;
  justify-content: start;
  margin-right: 20px;
}


@media screen and (max-width: 800px) {
  .resume_wrapper .resume_right .resume_name {
    display: none;
  }
  .resume_wrapper .resume_left .resume_name {
    display: block;
  }
  .resume_wrapper {
    width: 95%;
    margin: 10px auto;
    flex-direction: column;
  }
  .resume_wrapper .resume_left,
  .resume_wrapper .resume_right {
    width: 100%;
  }
}

@media screen and (max-width: 424px) {
  .resume_wrapper .resume_right {
    padding: 20px 30px;
  }
  .resume_wrapper .resume_right .resume_data {
    flex-direction: column;
  }
  .resume_wrapper .resume_right .resume_data .year {
    padding: 0;
    margin-bottom: 5px;
    width: 100%;
    color: #0175b2;
  }
  .resume_wrapper .resume_right .resume_data .year:before,
  .resume_wrapper .resume_right .resume_data .year:after {
    display: none;
  }
  .resume_wrapper .resume_right .resume_data .content {
    width: 100%;
    padding: 0;
  }
  .resume_wrapper .resume_right .resmue_interests .interests .int_icon {
    font-size: 24px;
  }
}