$--bs-white: #ffffff;
$--bs-black: #222222;
$--bs-blue: #396EF8;
$--bs-dark-blue: #1D4ED8;
$--bs-light-blue: #D1FAE5;
$--bs-green: #1EA59A;
$--bs-dark-green: #129388;
$--bs-silver: #585757;
$--bs-orange: #ffbe0b;
$--bs-orange-hover: #edb51c;
$--bs-disabled: #E0E3EB;

$--bs-title: #1B1C57;
$--bs-text: #626687;

$--bs-white-transparent: rgba(255, 255, 255, 0.1);
$--bs-blue-transparent: rgba(57, 110, 248, 0.1);
$--bs-green-transparent: rgba(30, 165, 154, 0.1);

$--bs-radius-small: .5rem;
$--bs-radius-medium: 1rem;
$--bs-radius-big: 1.2rem;
