{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Сотрудничество' %}
{% endblock %}

{% block content %}
    <section class="section cooperation">
        <div class="container">
            <div class="row">
                <div class="title">
                    <span>{% trans 'О Колледже' %}</span>
                    <h3>{% trans 'Сотрудничество' %}</h3>
                </div>
                <ul class="cooperation-list">
                    {% for item in cooperation %}
                        {% if not item.is_international %}
                            <li><a href="{{ item.file.url }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="title pt-4">
                    <span>{% trans 'О Колледже' %}</span>
                    <h3>{% trans 'Международное сотрудничество' %}</h3>
                </div>
                <ul class="cooperation-list">
                    {% for item in cooperation %}
                        {% if item.is_international %}
                            <li><a href="{{ item.file.url }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}