{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    История создания и развития учебного заведения
{% endblock %}

{% block content %}
    <section class="section history">
        <div class="container">
            <div class="title animate__animated animate__fadeInUp">
                <span>О колледже</span>
                <h3>История создания и развития учебного заведения</h3>
            </div>
            <div class="history-text animate__animated animate__fadeInUp">
                <p>Бишкекский машиностроительный техникум образован в 1951 году Постановление правительства СССР и
                    приказом Министра вооружения СССР № 404 от 18.06.51 г. с целью подготовки специалистов среднего
                    звена для промышленных предприятий отрасли и республики.</p>
                <p>После распада СССР Постановлением Кабинета министров Республики Кыргызстан №5831 от 26.12.91 г.
                    учебное заведение, как Бишкекский машиностроительный техникума, передано под юрисдикцию МНО
                    Республики Кыргызстана.</p>
                <p>Приказом МОН КР №36\1 от 05.02.96 г. учебное заведение переименовано в Бишкекский технический
                    техникум.</p>
                <p>Постановлением Правительства Кыргызской Республики № 603 от 18.12.96 г и последующим приказом МОНК КР
                    №369\1 от 31.12.96 г. техникум передан в состав Кыргызского горно-металлургического института в
                    качестве структурного подразделения с отдельным финансированием без юридического статуса (копия
                    прилагается).</p>
                <p>Постановлением Правительства Кыргызской Республики №390 от 31 мая 2006 года в целях углубления
                    реформы системы образования и повышения качества подготовки специалистов среднего звена прежнее
                    Постановление правительства (от 1996 года) О передаче Бишкекского технического техникума в состав
                    Кыргызского горно-металлургического института» признано утратившим силу (копия прилагается).</p>
                <p>Приказами МОН и МП КР № 580\1 от 12.092006 г; №612\1 от 03.10.2006 г. и №617\1 от 04.10.2006 г был
                    восстановлен юридический статус техникума, утвержден Устав БТТ и разделительный акт между БТТ и
                    горным институтом (копии прилагаются).</p>
                <p>Приказом МОиН КР № 182\1 от 18 марта 2009 г Бишкекский технический техникум переименован в Бишкекский
                    технический колледж.</p>
                <p>Свидетельство о государственной перерегистрации (регистрационный номер 56483-3301-У-е код ОКПО
                    00238977) получено 27 апреля 2009 года в Управлении юстиции г. Бишкека. Устав зарегистрирован 07.05
                    2009 года ГПР №0087655.</p>
                <p>Педагогический коллектив колледжа состоит из 61 преподавателя, из них. 11 преподавателей
                    совместители. Все преподаватели имеют высшее образование. 3 преподавателя имеют ученую степень
                    кандидата наук, 4 отличника образования.</p>
            </div>
        </div>
    </section>
{% endblock %}