{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Абитуриентам' %}
{% endblock %}

{% block content %}
    <section class="section reception">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 col-md-8">
                    <div class="title">
                        <span>{% trans 'Абитуриентам' %}</span>
                        <h3>{% trans 'Уважаемые абитуриенты!' %}</h3>
                    </div>
                    <div class="my-3">
                        <p class="reception__description">
                            {% blocktrans %}Кыргызский международный универсальный колледж, рад пригласить Вас на наше учебное заведение. Наш колледж предоставляет широкую возможность выбора специальностей, приносящих успех и стабильный доход в различных сферах деятельности! Наши специальности были, есть и будут перспективными, высокооплачиваемыми и интересными!{% endblocktrans %}
                        </p>
                        <h5 class="reception__title">{% trans 'В настоящее время колледж ведет подготовку по специальностям:' %}</h5>
                        <ul class="ml-4 mb-3 pl-0 mb-0">
                            {% for specialty in specialties %}
                                <li class="mt-2">
                                    <a class="reception__link" href="#"><span
                                            class="forloop">{{ forloop.counter }}.</span> {{ specialty.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="reception__description">
                            {% blocktrans %}Образовательный процесс в колледже организуют квалифицированные преподаватели. Колледж располагает оборудованными кабинетами и компьютерными классами, позволяющими осуществлять подготовку специалистов на высоком уровне. Мы поддерживаем тесные контакты с нашими зарубежными партнерами, можете обучаться в одном из лучших вузов Республики Корея.{% endblocktrans %}
                        </p>
                        <p class="reception__description">
                            {% trans 'Годы учебы в колледже запомнятся Вам яркими впечатлениями об интересной и насыщенной жизни.' %}
                        </p>
                        <p class="reception__description">
                            {% trans 'Каждый для себя найдет специальность, профессию по своему характеру, стилю жизни, темпераменту, складу ума.' %}
                        </p>
                    </div>
                    <div class="title">
                        <br>
                        <span>{% trans 'Абитуриентам' %}</span>
                        <h3>{% trans 'Как поступить в наш колледж' %}</h3>
                    </div>
                    <div class="my-3">
                        <h5 class="reception__title">{% trans 'Условия приема' %}</h5>
                        <p class="reception__description">
                            {% blocktrans %}Колледж принимают выпускников 9, 10 и 11 классов. Чтобы поступить в наш колледж, абитуриентам достаточно оставить заявку на и предоставить аттестат об окончании 9 или 11 классов. Конкурсный отбор первокурсников проводится по среднему баллу аттестата. Чем лучше школьник учился последний год в школе (9 или 11 класс), тем выше его шансы быть зачисленным.{% endblocktrans %}
                        </p>
                        <p class="reception__description">
                            {% blocktrans %}Если Вам необходима помощь в выборе, специалисты приемной комиссии всегда готовы проконсультировать и дать ответы на все интересующие вопросы. Позвоните по телефону{% endblocktrans %}
                            <a href=""></a>
                            {% trans 'или напишите на e-mail' %}
                            <a href="mailto:info@college.kiuc.kg">info@college.kiuc.kg</a>.
                        </p>
                    </div>
                    <div class="my-3">
                        <h5 class="reception__title">{% trans 'Основной список документов для поступающих в колледж:' %}</h5>
                        <ul class="reception__list">
                            <li class="my-3">- {% trans 'Оригинал Аттестата и Оригинал Свидетельство об образовании;' %}</li>
                            <li class="my-3">- {% trans 'Медицинская справка №086-У;' %}</li>
                            <li class="my-3">- {% trans 'Свидетельства о рождении или паспорт (копия);' %}</li>
                            <li class="my-3">- {% trans 'Фотографии 3х4 (6 штук);' %}</li>
                            <li>- {% trans 'Скоросшиватель и конверт' %}</li>
                        </ul>
                    </div>
                    <div class="my-3">
                        <p class="reception__description">
                            {% blocktrans %}Подайте документы онлайн через информационную систему колледжа или посетите лично приемную комиссию для подачи заявления и документов. Адрес: Сокулукский район., г.Шопоков., ул. Машиностроительная 13а.{% endblocktrans %}
                        </p>
                        <p class="reception__description">
                            {% trans 'Последний день тура формируются списки рекомендованных к зачислению в колледж, поэтому будьте на связи.' %}
                        </p>
                        <p class="reception__description">
                            {% trans 'Списки рекомендованных к зачислению составляются по убыванию среднего балла аттестата.' %}
                        </p>
                    </div>
                    <div class="my-3">
                        <h5 class="my-4 reception__title">{% trans 'Как считается средний балл аттестата' %}</h5>
                        <p class="mt-2 reception__description">
                            {% blocktrans %}Вам нужно подсчитать общее количество оценок, сложить все оценки вместе (найти сумму всех оценок) и разделить эту сумму на общее количество оценок. Полученное число и будет средним баллом Вашего аттестата. Средний балл ведется с точностью до сотых долей.{% endblocktrans %}
                        </p>
                        <p class="p-3 reception__description" style="border: 2px dotted red; text-indent: 0">
                            <b>{% trans 'Например:' %}</b>
                            {% blocktrans %}В Вашем аттестате стоят оценки по 12 предметам. Из них 5 пятерок, 3 четверки и 4 тройки. Найдем сумму всех оценок : 5*5 + 4*3 + 3*4 = 25 + 12 + 12= 49. Разделим сумму всех оценок на количество предметов: 49 : 12 = 4.08. Средний балл рассчитывается с точностью до сотых долей. Таким образом, средний балл Вашего аттестата – 4.08{% endblocktrans %}
                        </p>
                    </div>
                </div>
                <aside class="col-12 col-lg-4 col-md-4">
                    <div class="reception__carousel">
                        <div class="mt-4">
                            <h4 class="reception__border">{% trans 'Срок обучение' %}</h4>
                            <ul class="p-4 mb-0 reception__info">
                                <li><span>{% trans 'На базе 9 класса' %}:</span> {% trans '2 года 10 месяцев' %}</li>
                                <li><span>{% trans 'На базе 11 класса' %}:</span> {% trans '1 год 10 месяцев' %}</li>
                            </ul>
                        </div>
                        <div class="mt-2">
                            <h4 class="reception__border">{% trans 'Контакты' %}</h4>
                            <ul class="p-4 mb-0 reception__info">
                                <li><span>{% trans 'Телефон' %}:</span> <a href="tel:+996555106886" target="_blank">+996
                                    (555) 10-68-86</a></li>
                                <li>
                                    <span>WhatsApp:</span>
                                    <a href="https://api.whatsapp.com/send/?phone=996555106886&text=Здравствуйте%21%0A%0AПишу+из+вашего+сайта+www.college.kiuc.kg.%0A%0A&type=phone_number&app_absent=0"
                                       target="_blank">
                                        +996 (555) 10-68-86
                                    </a>
                                </li>
                                <li><span>{% trans 'Сайт' %}:</span> <a
                                        href="https://2020.edu.gov.kg/spuz/reports?id_university=168" target="_blank">2020.edu.gov.kg</a>
                                </li>
                                <li>
                                    <span>Email:</span>
                                    <a href="mailto:info@college.kiuc.kg" target="_blank">
                                        info@college.kiuc.kg
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}