{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Приветственное слово ' %} {% trans 'Лю Бенг Ил' %}
{% endblock %}

{% block content %}
    <section class="section foreword">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <img src="{% static 'images/college/MY6H7263.webp' %}" alt="" style="max-width: 100%">
                    <div class="title mt-3">
                        <span>{% trans 'Приветственное слово ' %}</span>
                        <h3>{% trans 'Лю Бенг Ил' %}</h3>
                        <p>{% trans 'Генерального директора КМУК, профессора, доктора филологических наук' %}</p>
                        <p class="">{% trans 'Заслуженного работника образования  Республики Корея' %}</p>
                    </div>
                </div>
                <div class="col-12 col-lg-7">
                    <p class="pt-0">Приветствую Вас на официальном сайте Кыргызского международного универсального колледжа.</p>
                    <p>Кыргызский международный универсальный колледж – это один из самых престижных международных колледжей нашей страны.</p>
                    <ul class="pl-3">
                        <li>Сотрудничает с более 10 ведущими университетами мира, в рамках ежегодного прохождения стажировок в таких странах, как США, КНР, Южная Корея, Турция,  и др.</li>
                        <li>Обучение в колледже ведется по нескольким образовательным программам среднего профессионального образования на 5 языках мира: кыргызский, русский, английский, корейский, испанский.</li>
                    </ul>
                    <p>Жизнь студентов нашего колледжа насыщена яркими событиями, семинарами, дебатами, творчествами, экскурсиями, а также знакомством с интересными людьми.</p>
                    <p>Разрабатывая сайт нашего колледжа мы стремились сделать его максимально удобным для пользователей. На нашем сайте представлена информация для абитуриентов и их родителей, студентов, и всех, кто желает быть в курсе жизни нашего учебного заведения. Уверен, что вы получите ответы на все интересующие Вас вопросы.</p>
                    <p>Цель Кыргызского международного универсального колледжа развивать и улучшить образовательную среду, с помощью среднесрочного и долгосрочного плана работы.</p>
                    <p>Добро пожаловать на наш обновленный сайт KIUC/КМУК</p>
                    <p class="text-center mb-0"><b>С уважением,</b></p>
                    <p class="text-center mb-0"><b>генеральный директор КМУК</b></p>
                    <p class="text-center"><b>профессор Лю Бенг Ил</b></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}