{% extends 'base/base.html' %}
{% load static i18n %}

{% block title %}
   {% trans 'Контакты' %}
{% endblock %}

{% block content %}
    <section class="section contacts">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-4 col-12">
                    <div class="title">
                        <span>{% trans 'Позвоните Нам' %}</span>
                        <h3>{% trans 'Контактные данные' %}</h3>
                    </div>
                    <div class="contacts__link">
                        <ul>
                            <li>
                                <b>{% trans 'Наш адрес: ' %}</b>
                                {% trans 'Чуйская обл., Сокулукский р., Шопоков, ул. Машиностроительная, 25а' %}
                            </li>
                            <hr>
                            <li>
                                <b>{% trans 'Директор' %}</b>
                                <span>...... - <a href="#">.....</a></span>
                            </li>
                            <hr>
                            <li>
                                <b>{% trans 'Заместитель директора по УР' %}</b>
                                <span>...... - <a href="#">.....</a></span>
                            </li>
                            <hr>
                            <li>
                                <b>{% trans 'Приемная' %}</b>
                                <span>...... - <a href="#">.....</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-8 col-12">
                    <div class="title">
                        <span>{% trans 'Система Обратной Связи' %}</span>
                        <h3>{% trans 'Есть идея' %}</h3>
                    </div>
                    <div class="contacts-feedback">
                        <form action="#" method="post" class="contacts__form">
                            <div class="contacts__form-field">
                                <input required name="name" id="name" type="text" placeholder="{% trans 'Ваше имя' %}">
                                <label for="name">{% trans 'Ваше имя' %}</label>
                            </div>
                            <div class="contacts__form-field">
                                <input required name="email" id="email" type="email" placeholder="{% trans 'Ваша почта' %}">
                                <label for="email">{% trans 'Ваша почта' %}</label>
                            </div>
                            <div class="contacts__form-field field-full">
                                <textarea name="text" id="text" placeholder="{% trans 'Ваше сообщение' %}"></textarea>
                                <label for="text">{% trans 'Ваше сообщение' %}</label>
                            </div>
                            <div class="contacts__form-field field-full field__agree">
                                <input id="agree" required type="checkbox">
                                <label for="agree" class="field__agree-label">{% trans 'Согласен на обработку персональных данных' %}</label>
                            </div>
                            <div class="contacts__form-field">
                                <img src="https://btk.kg/media/reCaptcha/task-06.jpg" alt="">
                            </div>
                            <div class="contacts__form-field">
                                <input required="required" name="answer" id="answer" type="number" placeholder="Напишите ответ">
                                <label for="answer">{% trans 'Напишите ответ' %}</label>
                            </div>
                        </form>
                        <button class="contacts__form-btn btn btn-primary">{% trans 'Отправить сообщение' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="contacts-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1056.5517421664722!2d74.33675432651926!3d42.86404867698774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ed965acdeec3b%3A0xa3d3a2bafb4618e1!2z0JrRi9GA0LPRi9C30YHQutC40Lkg0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0KPQvdC40LLQtdGA0YHQsNC70YzQvdGL0Lkg0JrQvtC70LvQtdC00LYgKNCa0JzQo9CaKQ!5e1!3m2!1sru!2skg!4v1682148536639!5m2!1sru!2skg" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}