@media (max-width: 1200px) {
  .documents {
    &__card {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .documents {
     &__card {
       grid-template-columns: repeat(2, 1fr);
     }
  }
}

@media (max-width: 765px) {
  .documents {
    &__card {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 576px) {
  .documents {
    &__card {
      grid-template-columns: 1fr;
    }
  }
}