@media (max-width: 991px) {
  .gallery-item {
    flex: 33.3%;
  }
}

@media (max-width: 768px) {
  .gallery-item {
    flex: 33.3%;
  }
}

@media (max-width: 530px) {
  .gallery-item {
    flex: 33.3%;
  }
}