@media (min-width: 767px) {
  .nav {
    &__menu {
      &-list {
        display: flex;
        align-items: center;
      }
      &__sub {
        &-list {
          transform: translate(0px, 10%);
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transition: all 0.3s ease 0s;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .nav {
    &__menu {
      &-logo img {
        width: 60px;
      }
      &-link {
        font-size: 14px;
      }
      &__sub {
        &-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .nav {
    &__menu {
      &-link {
        font-size: 12px;
        padding: 0 3px;
      }
      &__sub {
        &-link {
          font-size: 12px;
          padding: 10px 3px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .nav {
    &__menu {
      &-icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        & span,
        &::before,
        &::after {
          left: 0;
          position: absolute;
          height: 10%;
          width: 100%;
          transition: all 0.3s ease 0s;
          background-color: $--bs-blue;
        }
        &::before, &::after {content: ''}
        &::before {top: 0}
        &::after {bottom: 0}
        & span {
          top: 50%;
          transform: scale(1) translate(0px, -50%);
        }
        &._active {
          & span {
            transform: scale(0) translate(0px, -50%);
          }
          &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
          }
          &::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
          }
        }
      }
      &-body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 350px;
        height: 100%;
        background-color: $--bs-white;
        transition: all 0.3s ease 0s;
        overflow: auto;
        &._active {
          left: 0;
          z-index: 1;
        }
        &::before {
          content: "";
          width: 100%;
          top: 0;
          left: 0;
          height: 70px;
          background-color: $--bs-blue;
          z-index: 2;
        }
      }
      &-list {
        padding-left: 0;
        & li {
          flex-wrap: wrap;
          margin: 0;
          border-bottom: 1px dashed $--bs-disabled;
          &:last-child {
            margin-bottom: 0;
          }
          &._active {
            & .nav__menu__sub-list {
              display: block;
            }
          }
        }
      }
      &-link {
        font-size: 15px;
        padding: 15px;
        &:hover {
          background-color: $--bs-blue;
          color: $--bs-white;
          & .nav__menu-arrow {
            border-top-color: $--bs-white;
          }
        }
      }
      &__sub {
        &-list {
          position: relative;
          flex: 1 1 100%;
          display: none;
          padding: 0;
          margin: 0 20px;
          & li:last-child {
            border-bottom: none;
          }
        }
        &-link {
          font-size: 15px;
          padding: 10px;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}