{% extends 'base/base.html' %}
{% load static i18n%}

{% block title %}
    Нормативные документы
{% endblock %}

{% block content %}
    <section class="section documents">
        <div class="container">
            <div class="title">
                <span>{% trans 'О Колледже' %}</span>
                <h3>{% trans 'Нормативные документы' %}</h3>
            </div>
            <div class="documents__card">
                {% for document in documents %}
                    <div class="documents__card-item">
                        <a href="{% url 'documents_detail' document.pk %}">{{ document}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}