<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Наши специальности | Кыргызский международный универсальный колледж</title>
    <link rel="stylesheet" href="assets/css/bootstrap-5.0.0-alpha-2.min.css">
    <link rel="stylesheet" href="assets/css/core.min.css">
    <link rel="stylesheet" href="assets/css/responsive.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/LineIcons.2.0.css">
    <link rel="stylesheet" href="assets/libs/slick-1.8.1/slick.css">
    <link rel="stylesheet" href="assets/libs/glightbox/glightbox.min.css">
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/android-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/android-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/android-icon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="main-wrapper">
    <header class="toolbar">
        <div class="toolbar__area">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="toolbar__area-contacts">
                        <a href="#"><i class="fa fa-address-book"></i> Контакты</a>
                    </div>
                    <div class="toolbar__area-languages">
                        <select name="languages" id="languages" class="form-select">
                            <option value="ru">🇷🇺 Русский</option>
                            <option value="kg">🇰🇬 Кыргызча</option>
                            <option value="en">🇺🇸 English</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav">
            <div class="container">
                <div class="nav__menu">
                    <div class="nav__menu-logo">
                        <a href="../../core/templates/index.html"><img src="assets/images/logo/logo-min.webp" alt="logo"></a>
                    </div>
                    <div class="nav__menu-icon"><span></span></div>
                    <div class="nav__menu-body">
                        <ul class="nav__menu-list">
                            <li><a href="../../core/templates/index.html" class="nav__menu-link">Главная</a></li>
                            <li>
                                <a href="#" class="nav__menu-link">
                                    О колледже
                                    <span class="nav__menu-arrow"></span>
                                </a>
                                <ul class="nav__menu__sub-list">
                                    <li><a href="#" class="nav__menu__sub-link">История</a></li>
                                    <li><a href="#" class="nav__menu__sub-link">Паспорт колледжа</a></li>
                                    <li><a href="#" class="nav__menu__sub-link">Структура</a></li>
                                    <li><a href="#" class="nav__menu__sub-link">Новости</a></li>
                                    <li><a href="#" class="nav__menu__sub-link">Нормативные документы</a></li>
                                    <li><a href="#" class="nav__menu__sub-link">Библиотека</a></li>
                                    <li><a href="#" class="nav__menu__sub-link">Сотрудничество</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="nav__menu-link">Учебный процесс</a></li>
                            <li>
                                <a href="#" class="nav__menu-link">
                                    Абитуриентам
                                    <span class="nav__menu-arrow"></span>
                                </a>
                                <ul class="nav__menu__sub-list">
                                    <li>
                                        <a href="../../core/templates/reception.html" class="nav__menu__sub-link">Приемная комиссия</a>
                                    </li>
                                    <li>
                                        <a href="specialization.html" class="nav__menu__sub-link">Наши Специальности</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="nav__menu-link">
                                    Студентам
                                    <span class="nav__menu-arrow"></span>
                                </a>
                                <ul class="nav__menu__sub-list">
                                    <li>
                                        <a href="#" class="nav__menu__sub-link">Дистанционное обучение «AVN»</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav__menu__sub-link">Студенческий совет</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="nav__menu-link">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="section detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-12">
                    <div class="detail__img">
                        <img src="assets/images/detail.jpg" alt="image">
                    </div>
                    <div class="title detail__title">
                        <h1 class="mb-3 mt-3 font-weight-bold">Электроснабжение (по отраслям)</h1>
                        <p><span>Электроснабжение</span> Объектами деятельности техника по данной специальности являются сооружения и устройства электроснабжения, технические средства для их обслуживания и ремонта, оснащенные современными диагностическими устройствами, а также конструкторская, технологическая и другие виды документации. Выпускники могут работать везде где эксплуатируются, обслуживаются и ремонтируются устройства электроснабжения.</p>
                        <p><span>Электроснабжение</span> Объектами деятельности техника по данной специальности являются сооружения и устройства электроснабжения, технические средства для их обслуживания и ремонта, оснащенные современными диагностическими устройствами, а также конструкторская, технологическая и другие виды документации. Выпускники могут работать везде где эксплуатируются, обслуживаются и ремонтируются устройства электроснабжения.</p>
                        <h5 class="font-weight-bold">Объекты профессиональной деятельности выпускника являются:</h5>
                        <p><span>1) электрические станции и подстанции, линии электропередачи,</span></p>
                        <p><span>2) электрические станции и подстанции, линии электропередачи,</span></p>
                        <p><span>3) электрические станции и подстанции, линии электропередачи,</span></p>
                        <p><span>4) электрические станции и подстанции, линии электропередачи,</span></p>
                        <p><span>5) электрические станции и подстанции, линии электропередачи,</span></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-12">
                    <div class="detail__info">
                        <h4>Полезные информации</h4>
                        <ul class="p-4">
                            <li><span>Форма обучения:</span> Очный/Заочный</li>
                            <li><span>Основа обучения:</span> Контракт/Бюджет</li>
                            <li><span>Контракт:</span> 27500 сом</li>
                            <li><h5 class="m-auto font-weight-bold text-center">Срок обучение</h5></li>
                            <li><span>На базе 9 класса:</span> 2 года 10 месяцев</li>
                            <li><span>На базе 11 класса:</span>  1 год 10 месяцев</li>
                            <li><h5 class="m-auto font-weight-bold text-center">Часто задаваемые вопросы</h5></li>
                            <li><b><a href="#">Как поступить в колледж?</a></b></li>
                            <li><b><a href="#">Какие документы нужны для поступления?</a></b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer__info">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-12">
                        <h3 class="footer-title">
                            Кыргызский международный универсальный колледж
                        </h3>
                        <p class="footer-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequuntur cupiditate error praesentium quis ratione similique. Aliquam, deleniti, sint? Dolore!
                        </p>
                        <h3 class="footer-title">Наши социальные сети</h3>
                        <div class="footer__social">
                            <a href="https://www.instagram.com/kilc_university/?igshid=YmMyMTA2M2Y%3D" target="_blank" class="footer__social-instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="https://www.facebook.com/kiuckg" target="_blank" class="footer__social-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" target="_blank" class="footer__social-youtube">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6">
                        <h3 class="footer-title">Быстрая меню</h3>
                        <ul class="footer__fast-menu">
                            <li class="footer__fast-menu-item"><a href="#">О Нас</a></li>
                            <li class="footer__fast-menu-item"><a href="#">Новости</a></li>
                            <li class="footer__fast-menu-item"><a href="#">Наши специальности</a></li>
                            <li class="footer__fast-menu-item"><a href="#">Наши достижении</a></li>
                            <li class="footer__fast-menu-item"><a href="#">Сотрудничество</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6">
                        <h3 class="footer-title">Контакты</h3>
                        <ul class="footer__contacts">
                            <li class="footer__contacts-item">
                                <a href="tel:+996555106886" target="_blank">
                                    <i class="fa fa-phone mr-2"></i>
                                    +996 (555) 10-68-86
                                </a>
                            </li>
                            <li class="footer__contacts-item">
                                <a href="https://api.whatsapp.com/send/?phone=996555106886&text=Здравствуйте%21%0A%0AПишу+из+вашего+сайта+www.college.kiuc.kg.%0A%0A&type=phone_number&app_absent=0" target="_blank">
                                    <i class="fa fa-whatsapp mr-2"></i>
                                    +996 (555) 10-68-86
                                </a>
                            </li>
                            <li class="footer__contacts-item">
                                <a href="mailto:info@college.kiuc.kg" target="_blank">
                                    <i class="fa fa-envelope mr-2"></i>
                                    info@college.kiuc.kg
                                </a>
                            </li>
                            <li class="footer__contacts-item">
                                <a href="https://go.2gis.com/heri6" target="_blank">
                                    <i class="fa fa-map mr-2"></i>
                                    Чуйская обл., Сокулукский р., Шопоков, ул. Машиностроительная, 25а
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__inner">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="footer__inner-copyright">
                        Copyright © 2015 - <span class="current-year">2023</span> «КМУК» - Все права защищены.
                    </div>
                    <div class="footer__inner-dev">
                        Наш институт <a href="https://kiuc.kg/" target="_blank">www.kiuc.kg</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <button id="button_up" class="upShow upShow__hide">
        <i class="fa fa-arrow-up"></i>
    </button>

    <script src="assets/libs/jquery/jquery.js"></script>
    <script src="assets/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="assets/js/font-awesome.min.js"></script>
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/imagesloaded.min.js"></script>
    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/libs/slick-1.8.1/slick.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/core-slider.js"></script>
    <script src="assets/libs/glightbox/glightbox.min.js"></script>
</body>
</html>